@b2c:registry=https://gitlab.sz.rshbcloud.ru/api/v4/packages/npm/

//gitlab.sz.rshbcloud.ru/api/v4/packages/npm/:_authToken=${NPM_TOKEN}

//gitlab.sz.rshbcloud.ru/api/v4/projects/4024/packages/npm/:_authToken=${NPM_TOKEN}
